.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.shop-now-button{
    padding: 10px 20px;
    background-color: #0b69ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin: 8px 12px;
}
.home-title{
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}
.home-subtitle{
    font-size: 20px;
    color: #555;
    margin-top: 10px;
}
.home-image{
    width: 300px;
    height: auto;
    margin-top: 20px;
}
.carousel-section {
  width: 100%;
  margin-top: 0px;
}

.carousel-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  
}

/* Make carousel dots yellow for VSK brand */
.slick-dots li.slick-active button:before {
  color: #eab308 !important;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #999;
}
.home-conatiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .carousel-img {
    height: 210px;
  }
  .home-image{
    width: 400px;
    height: auto;
    margin-top: 20px;
  }
}

.note-btn {
  padding: 10px 16px;
  background: #facc15;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.note-popup {
  padding: 12px 16px;
  background: #03e68b;
  color: #000;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}