.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  position: relative;
  background: #fff;
  padding: 10px;
  width: 80%;
  height: 80%;
  border-radius: 8px;
}
@media  screen and (max-width : 768px) {
    .popup-content{
        width: 100%;
        height: 50%;
    }
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
