.ticker-container {
  width: 100%;
  background: white;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
  margin-top: 2px;
  padding: 30px;
  margin-bottom: 5px;
}
.heading{
    font-size: 28px;
    font-weight: 600;
    color: rgb(204, 16, 26);
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ticker-move {
  display: inline-block;
  white-space: nowrap;
  animation: smooth-loop 15s linear infinite;
   font-size: 26px;
    color: blueviolet;
}


/* FIX: Start fully off-screen on the right */
@keyframes smooth-loop {
  0% {
    transform: translateX(100%); /* start fully from right */
  }
  100% {
    transform: translateX(-100%); /* exit fully to the left */
  }
}
