.product-img {
height: 400px;
width: 400px;

}
.products-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 20px;
margin-top: 20px;
flex-direction: column;
}