/* ---------------- Global ---------------- */
.website-logo {
  width: 150px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #0f172a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* ---------------- Desktop Menu ---------------- */
.desktop-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}

.desktop-menu li a {
  color: white;
  text-decoration: none;
}

.desktop-menu li a.active {
  background: #007bff;
  padding: 8px 16px;
  border-radius: 4px;
  color: white !important;
  font-weight: 600;
}

.logout-button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.search-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  margin-left: 0px;
  height: 30px;
  align-items: center;
  width: 70px;
}
.search-checkbox {
  display: flex;
  padding: 5px;
  border-radius: 4px;
  border: none;
  outline: 1px solid #ccc;
  margin-left: 20px;
  margin-right: 15px;
  font-size: 16px;
  width: 200px;
}
.search-container {
  display: flex;
  align-items: center;
}
/* ---------------- Hamburger (mobile only) ---------------- */
.menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

.menu span {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 4px;
}

/* ---------------- Mobile Drawer ---------------- */
.mobile-drawer {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100vh;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  transition: 0.4s ease-in-out;
  z-index: 9999;
}

.mobile-drawer.open {
  left: 0;
}

.mobile-drawer a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.mobile-drawer a.active {
  color: #e19b0f;
  font-weight: 700;
}

.close-btn {
  align-self: flex-end;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.mobile-drawer .logout-button {
  background: none;
  color: red;
  font-size: 18px;
  padding: 0;
  text-align: left;
}

/* ---------------- Mobile Overrides ---------------- */
@media (max-width: 780px) {
  .desktop-menu {
    display: none;
  }

  .menu {
    display: flex;
    margin-top: 12px;
  }
  .search-icon{
    display: none;
  }
  .search-container{
    margin-right: 45px;
  }
}
