.active{
  background-color: #007BFF;
  font-weight: 600;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0.9;
}

.website-logo{
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0f172a;
  position: sticky ;
  top: 0;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #ffff;
  font-weight: 400;
}
nav ul li a:not(.active):hover {
  background-color: #60a5fa;
    color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  transition: 0.5s;
}

nav .cart-icon {
  position: relative;
}

.logout-button {
  background-color: #ef4444;
  color: white;
  border: none;
 padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
 

}

nav .menu{
  position: absolute;
  display: none;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;

}

nav .menu span{
  height: 0.4rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 480px) {
  nav ul li {
    font-size: 14px;
    width: 100%;
    text-align: left;
  }
  nav ul li a:not(.active):hover {
  background-color: transparent;
    color: #ffffff;
  border-radius: 4px;
  transition: 0.5s;
}


  .active {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: #ef4444;
  }

  .logout-button {
    margin-left: 0;
    padding-left: 0;
    font-size: 16px;
    text-align: left;
    background-color: transparent;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  nav ul.open {
    display: flex;
}
  
  nav .menu {
    display: flex;
  }
}