/* ---------- GLOBAL RESET ---------- */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ---------- TOP BAR ---------- */
.header-container {
  background-color: #007bff;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.top-link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
}

.college-code {
  color: white;
  font-weight: 600;
  margin: 0;
}

/* ---------- NAVBAR ---------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.website-logo {
  min-width: 50%;
  max-width: 70%;
}

/* ---------- DESKTOP MENU ---------- */
.desktop-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}
.popup-container {
  display: none;
  
 
 
}

.desktop-menu a {
  text-decoration: none;
  color: black;
}

.desktop-menu a.active {
  background: #007bff;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
}

/* ---------- BUTTON ---------- */
.logout-button {
  background: #007bff;
  color: white;
  border: 2px solid #0000;
  padding: 8px 16px;
  border-radius: 4px;
  outline: #007bff;
  cursor: pointer;
}
.welcome-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 0px;
}


/* ---------- POPUP MENU ---------- */
.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.popup-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  margin-top: 20px;
    background-color: #ffff;
  height: auto;
}

.popup-menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;

}

/* ---------- MOBILE ---------- */
@media (max-width: 780px) {
  .desktop-menu {
    display: none;
  }
  .website-logo{
    max-width: 90%;
  }

  .hamburger-btn {
    display: block;
  }

  .phone-text,
  .whatsapp-text {
    display: none;
  }
  .popup-container {
    display: block;
    

  }
}
