.materials-container {
  padding: 20px;
}

.semester {
  margin-bottom: 20px;
}

.material-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  background: #f1f5f9;
  border-radius: 6px;
}

.open-btn {
  background-color: #2563eb;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
}
